<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Statistics - CloudRepo Download Analytics Server</title>
        <link href="{{ fontlink }}" rel="stylesheet">
        <style>
            p, h1, h2, span {
                font-family: '{{ fontname }}', 'sans-serif';
            }
        </style>
    </head>
    <body>
        <h1>Analytics Results</h1>
        <script type="text/javascript" src="{{ chartcorelink }}"></script>
        <script type="text/javascript" src="{{ piechartextlink }}"></script>
    </body>
</html>
