<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Statistics - CloudRepo Download Analytics Server</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="{{ url_for('static', filename='dash.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Analytics Results</h1>
        <span>Overall Downloads: {{ data["overallcount"] }}</span>
        <hr/>
        <h2>Downloads by File Name</h2>
        <div id="by-file-name-container">
            {% if data["downloads"]|length == 0 %}
                <span><b>No data yet! Check back later.</b></span>
            {% endif %}
        </div>
	<hr/>
	<h2>Downloads by Repo Name</h2>
        <div id="by-repo-name-container">
            {% if data["repos"]|length == 0 %}
                <span><b>No data yet! Check back later.</b></span>
            {% endif %}
        </div>
        <hr/>
        <h2>Downloads by Type</h2>
        <div id="by-type-container"></div>
        <hr/>
        <script type="text/javascript" src="{{ url_for('static', filename='chartcore.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='piechart.min.js') }}"></script>
        <script type="text/javascript">
            anychart.onDocumentReady(function() {
                var filenamechart = anychart.pie([
                    {% for key, value in data["downloads"].items() %}
                        ['{{ key }}', {{ value }}],
                    {% endfor %}
                ]);
                filenamechart.tooltip().fontFamily("Roboto");
                filenamechart.container("by-file-name-container");
                filenamechart.draw();
                var reponamechart = anychart.pie([
                    {% for key, value in data["repos"].items() %}
                        ['{{ key }}', {{ value }}],
                    {% endfor %}
                ]);
                reponamechart.tooltip().fontFamily("Roboto");
                reponamechart.container("by-repo-name-container");
                reponamechart.draw();
                var typechart = anychart.pie([
                    ["Maven POM", {{ data["types"]["pom"] }}],
                    ["Jar File", {{ data["types"]["jar"] }}],
                    ["SHA/MD5 Hash", {{ data["types"]["crypto"] }}],
                    ["Other", {{ data["types"]["other"] }}]
                ]);
                typechart.tooltip().fontFamily("Roboto");
                typechart.container("by-type-container");
                typechart.draw();
            });
        </script>
    </body>
</html>
